body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  font-family: 'Arial', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.app {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

h1 {
  font-size: 3em;
  color: #ff4b1f;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(255, 75, 31, 0.7);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(15, 12, 41, 0.95);
  padding: 10px 0;
  z-index: 10;
}

.header h1 {
  margin: 0;
}

.form-container {
  margin: 20px auto;
  max-width: 400px;
}

.cocktail-form input, .cocktail-form textarea, .filter input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.cocktail-form button {
  padding: 10px 20px;
  border: none;
  background-color: #ff4b1f;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cocktail-form button:hover {
  background-color: #ff7b56;
}

.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px; /* Spazio per il form e il filtro */
  overflow-y: auto;
  height: calc(100vh - 200px); /* Altezza disponibile sotto il form */
}

.cocktail-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cocktail-item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
}

.cocktail-item h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #ff4b1f;
}

.cocktail-item p {
  font-size: 1em;
  margin: 5px 0;
}

.cocktail-item button {
  padding: 5px 10px;
  border: none;
  background-color: #dc3545;
  color: white;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cocktail-item button:hover {
  background-color: #c82333;
}

.cocktail-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cocktail-item img:hover {
  transform: scale(1.1);
}
