@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aggiungi stili personalizzati */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Colore di sfondo della pagina */
  color: #333; /* Colore del testo */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

main {
  margin-top: 60px; /* Spazio per evitare che il contenuto venga nascosto dall'intestazione fissa */
  padding: 20px;
}


h1 {
  color: #333;
  font-size: 2.5rem;
  text-align: center;
}

.pokemon-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  width: 100%;
  height: auto;
}

.pokemon-card h2 {
  color: #333;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
}

.pokemon-card .types {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.pokemon-card .type {
  background-color: #ef5350;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.875rem;
}

.search-bar {
  margin: 0 auto;
  max-width: 400px;
}

.filter-button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #1976d2;
}

.add-pokemon-button {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s;
}

.add-pokemon-button:hover {
  background-color: #388e3c;
}
